  <div class="center jumbotron">
    <div class="container">
       <div class="col-md-6" valign="center">
        <h3 align="left"><%= image_tag("iana.jpg", size: "200x150") %> &nbsp;&nbsp; Iana </h3>
        <br>
        <p align="left">Iana is the mom of two curious kiddos: Alec and Maya. Iana is passionate about educating young minds. 
        For years, she worked on developing educational software for school aged kids. She created Curious Tots to get toddlers and 
        preschoolers excited about science and learning.</p>
      </div>
       <div class="col-md-6">
        <h3 align="left"><%= image_tag("alec.jpg", size: "150x150") %> &nbsp;&nbsp; Alec </h3>
        <br>
        <p align="left"> Alec is the original Curious Tot and the inspiration behind this website. He LOVES animals and is a 
        walking encyclopedia of animal facts. Many of the facts on Curious Tots were inspired by him. When Alec grows up he wants 
        to be a daddy and a computer programmer. 
        </p>
      </div>
      <div class="container">
      <div class="col-md-12">
        <h3 align="left"><%= image_tag("robins_nest.jpg", size: "150x150") %> &nbsp;&nbsp; Our Story </h3>
        <br>
        <p align="left">
        The idea for Curious Tots was born on a lazy spring afternoon. Iana and then 2 year old  
        Alec were relaxing in their backyard when they noticed a robin's nest in a nearby tree. Iana explained to Alec that the 
        mommy bird made the nest and laid eggs in it. She sits on the eggs to keep them warm and then baby birds hatch from the eggs.
        <br><br>
        Alec was fascinated! As soon as Iana finished telling him the story he said "Talk about baby birds again!". This went on 
        for a while. :) As Iana was re-telling the story, she realized that young children are incredibly curious about the world 
        around them. Yet most children's science books are too advanced for toddlers and preschoolers. She created Curious Tots to give
        young kids an early exposure to science. She hopes that these simple and fun facts inspire a life-long love of science.
        </p>
      </div>
      </div>
    </div>
  </div>