<% if logged_in? %>
  <% if admin_user? %>
   <% controller.redirect_to stats_show_path %>
  <% else %>
    <% controller.redirect_to users_show_path(:id => current_user) %>
  <% end %>
<% else %>

  <div class="center jumbotron">
    <div class="container">
      <div class="col-md-5">
      <%= link_to image_tag("boy-with-lightbulb.jpg", alt: "Curious Tots", size: "450x450") %>
      </div>
      <div class="col-md-7">
        <h1>Spark your child's curiosity!</h1>
        <h2>Sign up to receive a cool science fact every week!</h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
