  <div class="center jumbotron">
    <div class="container">
      <div class="col-md-6" valign="center">
        <br>
        <h3 align="left"><%= image_tag("signup.png", size: "32x32") %> &nbsp; Create a Curious Tots account.</h3>
        <br>
        <h3 align="left"><%= image_tag("child.png", size: "32x32") %> &nbsp; Tell us the name and age of your child.</h3>
        <br>
        <h3 align="left"><%= image_tag("email.png", size: "32x32") %> &nbsp; Receive weekly science fact emails.</h3>
        <br><br>
        <h5>Ready to try it out? <%= link_to "Sign up now!", signup_path %> </h5>
      </div>
       <div class="col-md-6">
        <%= image_tag('sample_email.png', size: "650x400") %>
      </div>
    </div>
  </div>