<h1>Login</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %> <%=link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password %>

      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>