    <li>
      <%= image_tag("child.png", size: "30x30") %>
      &nbsp;
      <% if admin_user? %>
        <%= child.name %>
      <% else %>
        <%= link_to child.name, edit_child_path(child.id) %>
      <% end %>
      (<%= pluralize(child.age, "year") %> old) <br>
      <div style="padding-left:42px">
        <%= link_to "#{pluralize(History.child_history(child).count, "fact")} sent", histories_index_path(child_id: child.id) %><br>
        <% if child.subscribed %>
          Next fact in <%= pluralize(child.days_to_next_fact, "day") %> 
        <% else %>
          Fact emails are turned off. <%= link_to "Subscribe", edit_subscription_url(child.id, active: 1) %> 
        <% end %>
      </div>
    </li>