<h1>Tell us about your tot:</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@child) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'  %>
      
      <%= f.label :dob, "Birthdate" %>
      <%= f.date_field :dob, class: 'form-control'  %>
      
      <%= f.submit "Add child", class: "btn btn-primary" %>
      
    <% end %>
 </div>
</div>
