
<h3>Welcome to Curious Tots! Get ready to blow your little scientist’s mind with some cool science facts! </h3>
<p>
Below are some tips to make the most out of your Curious Tots experience:
<br>
<li type="square" position="outside"> <b>Help your child understand.</b> Give your child any background information needed to help them understand the fact. If needed, paraphrase the fact to help your child understand it better.</li>
<br>
<li type="square" position="outside"> <b>Start a conversation.</b>  Use each fact as a conversation starter. Ask your child what they think about the fact and share your thoughts. Share any additional things you might know related to the fact.</li>
<br>
<li type="square" position="outside"> <b>Get your tot thinking.</b> Help your child form connections between the fact and other things they know. Ask your child “why” questions related to the fact.</li>
<br>
The Curious Tots Team

</p>