<li>
  <%=user.fname%>
  <%=user.lname%>
  (
  <% if @show_admins %>
    <%= link_to user.email, edit_user_path(user.id) %>
  <% else %>
    <%=user.email%>
  <% end %>
  )
  <% if !@show_admins %>
    <%= link_to pluralize(user.children.count, "child"), user_path(user.id) %>
  <% end %>
</li>