<h1>Edit Administrator</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@admin) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :fname, "First Name" %>
      <%= f.text_field :fname, class: 'form-control'  %>

      <%= f.label :lname, "Last Name" %>
      <%= f.text_field :lname, class: 'form-control'  %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.hidden_field :admin, :value => true %>
      <%= f.submit "Update administrator", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>