<% if @show_admins %>
  <h1>Administrators</h1>
  <%= link_to "New Administrator", new_user_path(admin: true) %>
<% else %>
  <h1>Users</h1>
<% end %>

<ul class="lined-list">
  <%= render @users %>
</ul>