<% if @new_admin %>
  <h1>New Administrator</h1>
<% else %>
  <h1>Sign up</h1>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :fname, "First Name" %>
      <%= f.text_field :fname, class: 'form-control'  %>

      <%= f.label :lname, "Last Name" %>
      <%= f.text_field :lname, class: 'form-control'  %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <% if @new_admin %>
        <%= f.hidden_field :admin, :value => true %>
        <%= f.submit "Create administrator", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>