<h1><%= @user.fname%>'s Curious Tots: </h1>

<ul class="lined-list">
  <%= render @children %>
  <% if !admin_user? %>
    <%= link_to "Add child", controller: "children", action: "new" %>
  <% end %>
</ul>


