<table>
  <td>
  <tr>
      <p>
        <%= @greeting %>, 
        <br><br>
        Did you know that...  
        <br><br>
        <strong><%= @fact %></strong>
        <br>
      </p>
      <p>
        The Curious Tots Team
      </p>
    </tr>
     <tr>
       <%= image_tag('girl-thinking.jpg', size: "300x250", alt:"") %>
     </tr>
     <br><br>
     <font color="#909090" size="2px"> <%= @source %> </font>
     <br>
     <font color="#909090" size="1px">
      If you no longer wish to receive these emails, you may
     <%= link_to "unsubscribe", edit_subscription_url(@child_id, {unsubscribe_token: @unsubscribe_token, active: 0}) %>
     at any time. 
     </font>
  </td>
</table>
