
<%= @greeting %>, 

Did you know that...  

<%= @fact %>

The Curious Tots Team



<%= @source %>


To unsubscribe click here: <%= edit_subscription_url(@child_id, {unsubscribe_token: @unsubscribe_token, active: 0}) %>