<tr>
<td><%= link_to "Fact #{fact.id}", edit_fact_path(fact.id) %></td>
<td width:50px; word-wrap: break-word><%=fact.content%></td>
<td><%=fact.category%></td>
<td><%=fact.age_low%> - <%=fact.age_high%></td>
<!--<td><%= link_to "delete", fact, method: :delete,
                                  data: { confirm: "You sure?" } %></td>-->
</tr>