
<ul class="lined-list">

<li><%= link_to "Total (#{@total_facts})", facts_path, method: "get" %></li>

<li>  
<%=link_to "Active (#{@active_facts})", facts_path(active_flag:true), method: "get" %> <br>
<%=link_to "Inactive (#{@inactive_facts})", facts_path(active_flag:false), method: "get" %>
</li>

<li>
<% @age_counts.each_index do |index| %>
  <%= link_to "#{Child::MIN_CHILD_AGE + index} yo (#{@age_counts[index]})", facts_path(age: Child::MIN_CHILD_AGE + index), method: "get" %>
  <br>
<% end %>
</li>

<li>
<% @category_counts.each_pair do |category, count| %>
  <%= link_to "#{category} (#{count})", facts_path(category: category), method: "get" %>
  <br>
<% end %>
</li>
</ul>  