<h1>Edit fact</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@fact) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control'  %>
      
      <%= f.label "Age Range"%>
      <div class="row">
        <div class="col-md-2">
          <%= f.text_field :age_low%>
        </div>
        <div class="col-md-2">
           to 
        </div>
        <div class="col-xs-2">
          <%= f.text_field :age_high %>
        </div>
      </div>
      
      <%= f.label :category %>
      <%= f.select :category, options_for_select(Fact::CATEGORIES) %>
      
      <%= f.label :reference %>
      <%= f.select :reference_id, Reference.all.order(:citation).collect {|r| [r.citation, r.id]}, { include_blank: true } %>
            
      <%= f.label :active_flag, :class => "checkbox" do %>
         <%= f.check_box :active_flag %> Active
      <% end %>
            
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      
    <% end %>
 </div>
</div>
