<h1>Facts</h1>

<p><%= link_to "New Fact", new_fact_path, method: "get" %></p>

<div class="row">
    <aside class="col-md-2">
       <%= render 'facts/stats' %>
    </aside>
      
<div class="col-md-10">

<table id="facts">
  <tr>
    <th>#</th>
    <th>Content</th>
    <th>Category</th>
    <th>Age Range</th>
  </tr>
  <%= render @facts %>
</table>

</div>  

</div>  