<h1>Edit reference</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@reference) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :citation %> (<%= link_to "http://www.easybib.com/", "http://www.easybib.com/", target: "_blank"%>)
      <%= f.text_area :citation, class: 'form-control'  %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      
    <% end %>
 </div>
</div>
