<h1>Curious Tots Statistics</h1>

<ul align="center" class="lined-list">
  
  <li><h4> <%=pluralize(@user_count, "User")%> </h4></li>
  <li><h4> <%=pluralize(@child_count, "Child")%> </h4></li>
  <li><h4> <%=pluralize(@history_count, "Fact")%> Sent </h4></li>
  <li><h4> <%=pluralize(@fact_count, "Fact")%> in DB </h4></li>
  
</ul>