<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Curious Tots", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        
        <% if logged_in? %>
          <% if admin_user? %>
            <li><%= link_to "Facts", facts_path, method: "get" %></li>
            <li><%= link_to "References", references_path, method: "get" %></li>
            <li><%= link_to "Admins", users_path(admin:true), method: "get" %></li>
            <li><%= link_to "Users", users_path, method: "get" %></li>
          <% end %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%=link_to "How it works", how_it_works_path %></li>
          <li><%=link_to "About Us", about_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>